{{if or .Categories .Tags .RecentPages}}
<aside class="dev-sidebar">
    {{if .Categories}}
    <div class="dev-sidebar-widget">
        <h3 class="dev-widget-title">
            <span class="dev-comment">// </span>{{TTheme .LangCode "sidebar.categories"}}
        </h3>
        <ul class="dev-category-list">
            {{range .Categories}}
            <li class="dev-category-item">
                <a href="/category/{{.Slug}}" class="dev-category-link">
                    <span class="dev-arrow">&gt;</span> {{.Name}}
                    {{if .PageCount}}<span class="dev-count">({{.PageCount}})</span>{{end}}
                </a>
            </li>
            {{end}}
        </ul>
    </div>
    {{end}}

    {{if .Tags}}
    <div class="dev-sidebar-widget">
        <h3 class="dev-widget-title">
            <span class="dev-comment">// </span>{{TTheme .LangCode "sidebar.tags"}}
        </h3>
        <div class="dev-tag-cloud">
            {{range .Tags}}
            <a href="/tag/{{.Slug}}" class="dev-tag">
                #{{.Name}}
            </a>
            {{end}}
        </div>
    </div>
    {{end}}

    {{if .RecentPages}}
    <div class="dev-sidebar-widget">
        <h3 class="dev-widget-title">
            <span class="dev-comment">// </span>{{TTheme .LangCode "sidebar.recent_posts"}}
        </h3>
        <ul class="dev-recent-posts">
            {{range .RecentPages}}
            <li>
                <a href="{{.URL}}">{{.Title}}</a>
                {{if .PublishedAt}}<span class="dev-post-date">{{formatDateLocale .PublishedAt $.LangCode}}</span>{{end}}
            </li>
            {{end}}
        </ul>
    </div>
    {{end}}
</aside>
{{end}}
