<footer class="dev-footer">
    <div class="dev-container">
        <div class="dev-footer-inner">
            <div class="dev-footer-left">
                <span class="dev-footer-text">// {{.SiteName}} &copy; {{now.Year}}</span>
            </div>
            <div class="dev-footer-right">
                <span class="dev-footer-powered">
                    <span class="dev-comment">/*</span>
                    Powered by <a href="https://github.com/opossum-cms" class="dev-footer-link">oCMS</a>
                    <span class="dev-comment">*/</span>
                </span>
            </div>
        </div>
    </div>
</footer>
