// CSS Reset / Normalize
@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  color: $gray-900;
  background-color: $gray-100;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-semibold;
  line-height: $line-height-tight;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary-dark;
  }
}

img, svg {
  display: block;
  max-width: 100%;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

// Remove default form styling (except checkboxes and radios)
input:not([type="checkbox"]):not([type="radio"]), textarea, select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

// Remove autofill styling
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px $white inset;
}
